
%text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

@mixin text-shadow-behind($shadow: 2px 2px 3px rgba(0,0,0,0.8)) {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: 0 0;
    content: attr(data-text);
    text-align: center;
    text-shadow: $shadow;
    z-index: -1;
    font-weight: inherit;
  }
}

@mixin text-background-fill($background, $fallback) {
  color: $fallback;
  background: $background;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


// TODO: make the gradient more customizable
@mixin text-gradient-fill($top, $bottom) {
  @include text-background-fill(-webkit-linear-gradient($top 0%, $bottom 100%), $top);
}
