$-button-size-large: 40px;
$-button-size-medium: 35px;
$-button-size-small: 30px;

$-button-spacing-large: 15px;
$-button-spacing-medium: 15px;
$-button-spacing-small: 15px;

%icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;

  width: $-button-size-large;
  height: $-button-size-large;

  img {
    width: ($-button-size-large * 0.6);
    height: ($-button-size-large * 0.6);
  }

  span {
    font-size: ($-button-size-large * 0.6);
  }

  @if ($-button-size-medium != $-button-size-small) {
    @include viewport(medium) {
      width: $-button-size-medium;
      height: $-button-size-medium;

      img {
        width: ($-button-size-medium * 0.6);
        height: ($-button-size-medium * 0.6);
      }

      span {
        font-size: ($-button-size-medium * 0.6);
      }
    }
  }

  @if ($-button-size-medium != $-button-size-small) {
    @include viewport(small) {
      width: $-button-size-small;
      height: $-button-size-small;

      img {
        width: ($-button-size-small * 0.6);
        height: ($-button-size-small * 0.6);
      }

      span {
        font-size: ($-button-size-small * 0.6);
      }
    }
  }
}
