.octicon {
	display: inline-block;
	vertical-align: text-bottom;
	fill: currentColor;
	margin-right: #{(2/3)}em;
	height: #{(4/3)}em;
	line-height: #{(4/3)}em;

	&.octicon-npm {
		height: 2em;
		margin-top: -#{(3/12)}em;
	}
}

.octicon-sprites {
	visibility: hidden;
	height: 0;
	width: 0;
}

.icon-links {
	margin: 1rem 1rem 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: left;
	cursor: default;

	li {
		margin: 0 0 #{(1/3)}em 0;
		padding: 0;
		position: relative;

		a {
			color: swatch(black);
			text-decoration: none;
			display: block;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.social-links {
	li {
		font-size: 1.5rem;
		line-height: 2rem;

		@include viewport(small) {
			font-size: #{(4/3)}rem;
		}
	}
}

.project-links {
	margin: 1rem auto -0.5rem;

	display: flex;
	flex-direction: row;

	li {
		margin-right: 2em;
	}

	.octicon {
		margin-right: #{(1/3)}em;
	}
}
