.social-links {
	margin: 1rem 1rem 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	li {
		margin: 0;
		padding: 0;
		font-size: 1.5rem;
		position: relative;

		a {
			color: swatch(black);
			text-decoration: none;
			display: block;
			padding: 0.5em;
		}
	}
}
