<footer>
  <div class="footer-content-wrapper">
    <h3>Hey this is the footer</h3>
    <ul>
      <li>
        <!-- <a href="mailto:{{ site.email }}"> -->
          <span class="si" data-glyph="mail" title="Email" aria-hidden="true"></span>
          {{ site.email }}
        <!-- </a> -->
      </li>
      {% if site.github %}
      <li aria-label="Github">
        <span class="si" data-glyph="github" title="Github" aria-hidden="true"></span>
        {{ site.github }}
      </li>
      {% endif %}
      {% if site.twitter %}
      <li aria-label="Twitter">
        <span class="si" data-glyph="twitter" title="Twitter" aria-hidden="true"></span>
        @{{ site.twitter }}
      </li>
      {% endif %}
      {% if site.linkedin %}
      <li aria-label="LinkedIn">
        <span class="si" data-glyph="linkedin" title="LinkedIn" aria-hidden="true"></span>
        {{ site.linkedin }}
      </li>
      {% endif %}
      {% if site.googleplus %}
      <li aria-label="Google Plus">
        <span class="si" data-glyph="googleplus" title="Google Plus" aria-hidden="true"></span>
        {{ site.googleplus }}
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="delaunay-canvas-wrapper">
    <canvas id="delaunayFooter" width="500" height="300"></canvas>
  </div>
</footer>
