<header class="site-header">

  <div>
    <h1 data-text="{{ site.title_formatted }}" id="header" data-color="white">{{ site.title_formatted }}</h1>
    <h2 id="subhead" data-text="{{ site.subhead }}">{{ site.subhead }}</h2>
  </div>

  <div class="canvas-wrapper">
    <canvas id="delaunayHero" width="500" height="300"></canvas>
    <button id="delaunayRedo" class="delaunay-button redo-button" aria-label="Redo Triangles">
      <img src="{{ "/images/icons/reload.svg" | prepend: site.baseurl }}" alt="Redo Triangles">
    </button>
    <a href="https://github.com/cshaver/pretty-delaunay" target="_blank" class="delaunay-button info-button" aria-label="About this trianglulation widget (opens a new window)">
      <img src="{{ "/images/icons/info.svg" | prepend: site.baseurl }}" alt="About this trianglulation widget (opens a new window)">
    </a>
  </div>

</header>
{% comment %}
  <nav>
    <ul>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endcomment %}
