<div class="delaunay-canvas-wrapper">
	<canvas id="delaunayHero" width="500" height="300"></canvas>
</div>
<header class="header">
	<div id="header" class="header-background">
		<h1 id="title">{{config.title}}.</h1>
		<h2 id="subhead">{{config.subtitle}}.</h2>
	</div>

	{{> social}}

</header>
