<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{config.title}}</title>
  <meta name="description" content="{{config.description}}">
	<link rel="icon" href="/favicon.ico">
  <link href="/css/main.css" rel="stylesheet"/>
  <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
</head>
