<head>
  <meta charset="utf-8">
  <title>{{config.title}}</title>
  <link href="css/main.css" rel="stylesheet"/>
  <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
</head>
