header {
  position: relative;
  color: swatch(white);
  height: 66vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  @extend %text-center;

  @include viewport(tiny) {
    // height: 33vh;
    min-height: 300px;
  }

  * {
    z-index: 2;
    position: relative;
  }

  h1 {
    margin: 0;
    line-height: 0.85em;
    display: inline-block;
    @include font(headline, hero);

    font: {
      size: 6rem;
      weight: normal;
    }

    &.with-shadow {
      top: 3px;
      left: 3px;

      @include text-offset-behind(-3px, -3px, swatch(white), 1.0, 1);
    }

    @include viewport(tiny) {
      font-size: 4rem;
    }
  }

  h2 {
    font-size: 3.25rem;
    text-transform: uppercase;
    font: {
      weight: bold;
      family: font(subhead, hero);
    }

    margin: 0.5em 0;

    @include text-offset-behind(1px, 1px, swatch(white), 0.9);

    @include viewport(tiny) {
      font-size: 3rem;
    }
  }
}
