
main {

  section {
    padding: 1em;

    h3 {
      font-weight: normal;
      text-transform: uppercase;
      @include font(condensed);
    }

    h4 {
      font-weight: normal;
      color: swatch(teal);
      @include font(mono);
    }
  }
}
