.work-tiles {
  margin: 0 -0.5em 0 -0.5em;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .tile-item {
    border: 0.5em swatch(white) solid;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: black;
    background-clip: content-box;
    width: percentage(1/3);

    @include viewport(small) {
      width: percentage(1/2);
    }

    @include viewport(tiny) {
      width: 100%;
    }

    &,
    a {
      color: swatch(white);
    }

    a {
      text-decoration: none;
      @include font(mono);

      &:hover {
        text-decoration: underline;
      }

      .oi {
        margin-right: 0.25em;
      }
    }

    &,
    &:before {
      background-size: cover;
    }

    &:before,
    &:after {
      transition: filter, background 0.2s;
      overflow: hidden;
    }

    &:before {
      content: '';
      display: block;
      padding-top: percentage(2/3);
      filter: blur(1px);
      z-index: 1;
    }

    &:after {
      opacity: 0.1;
      content: '';
      border: 2em solid swatch(black);
      background: transparent;
      filter: blur(10px);
      display: block;
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .tile-content {
      z-index: 3;

      transition: all 0.3s;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      overflow: hidden;
    }

    .tile-title,
    .tile-title-block-link {
      font-size: 1.5rem;
      font-weight: normal;
      margin: 0;
    }

    .tile-title-block-link {
      display: table;

      &,
      a {
        width: 100%;
        height: 100%;
      }

      a {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .tile-title {
      transition: all 0.3s;
      width: 100%;
      transform: translateY(0.5em);
      margin-top: -0.5em;
      margin-bottom: 0.5em;
      @include font(mono);
    }

    .tile-description {
      margin: 0;
      padding: 0 0.5em;
      transition: all 0.3s;

      position: absolute;;
      transform: translateY(100%);
      align-self: flex-end;
      overflow: hidden;

      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }

      .tile-link {
        display: inline-block;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &:hover,
    &:focus,
    &.focus {
      &:before {
        filter: blur(3px);
      }

      &:after {
        background: swatch(black);
        opacity: 0.3;
      }

      .tile-title {
        align-self: flex-end;
        margin-bottom: 1em;
        text-decoration: underline;
      }

      .tile-description {
        position: static;
        transform: translateY(0);
        align-self: center;
        overflow: visible;
      }
    }
  }
}

$tile-images: (
  pretty-delaunay,
  css-ast-diff
);

@each $tile in $tile-images {
  .tile-#{$tile},
  .tile-#{$tile}:before {
    background-image: url("/img/tile_#{$tile}.png");
  }
}
