header {
  position: relative;
  color: swatch(white);
  height: 66vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @extend %text-center;

  * {
    z-index: 2;
    position: relative;
  }

  h1 {
    margin: 0;
    line-height: 0.85em;
    display: inline-block;

    font: {
      size: 100px;
      weight: normal;
      family: font(permanent-marker);
    }

    &.with-shadow {
      top: 3px;
      left: 3px;

      @include text-offset-behind(-3px, -3px, swatch(white), 1.0, 1);
    }
  }

  h2 {
    font-size: 40px;
    text-transform: uppercase;
    font: {
      weight: bold;
      family: font(condensed);
    }

    @include text-offset-behind(1px, 1px, swatch(white), 0.9);
  }
}

.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.delaunay-button {
  background: swatch(gray);
  opacity: 0.5;
  border: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 15px;
  left: 15px;

  &:hover {
    opacity: 1.0;
  }

  img {
    width: 18px;
    height: 18px;
  }

  + .delaunay-button {
    left: ((15px * 2) + 30px);
  }
}
