header {
  position: relative;
  color: swatch(white);
  height: 66vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @extend %text-center;

  * {
    z-index: 2;
    position: relative;
  }

  h1 {
    margin: 0;
    line-height: 1.25em;

    font: {
      size: 100px;
      weight: normal;
      family: font(rock-salt);
    }
  }

  h2 {
    text-transform: uppercase;
    font: {
      weight: bold;
      family: font(condensed);
    }

    position: relative;

    &:after {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 100%;
      content: attr(data-text);
      text-align: center;
      color: swatch(white);
      z-index: -1;
      font-weight: inherit;
    }
  }
}

.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}