header {
  color: swatch(white);
  background: url("#{$-baseurl}/images/husk.png") swatch(black) {
    size: 500px;
  };

  padding: 4em 0 3em;

  @extend %text-center;

  h1 {
    margin: 0;
    line-height: 0.75em;

    font: {
      size: 100px;
      weight: normal;
      family: font(bakery);
    }

    @include text-background-fill(url("#{$-baseurl}/images/chalk.png"), swatch(white));
    background-size: 250px;
    padding: 0.1em 0;
  }

  h2 {
    color: swatch(coral);
    text-transform: uppercase;
    font: {
      weight: normal;
      family: font(condensed);
    }
  }
}
