<body>
	{{> octicons}}

	{{> header}}

	<main id="main" class="main">
		{{> nav}}

		<h3>I like to build things.</h3>
		<p>Born and raised on the Internet (and occasionally parts of Texas) and sometimes help make it&nbsp;go.</p>

		<p>When I’m not coding, I’m usually playing Dungeons & Dragons with my friends or basking in the garden with the cats.</p>

	</main>

	{{> footer}}
</body>

<script src="/js/main.js" type="text/javascript"></script>
