<h3>I like to build things.</h3>
<p>I live on the Internet (proxied through Sunnyvale, California) and sometimes help make it go.</p>

<p>When I’m not coding, I’m usually playing roller derby with the <a href="https://www.peninsularollergirls.org/">Peninsula Roller Girls</a> or fighting the cats for the good spot on the couch.</p>
