<!DOCTYPE html>
<html>

{{> head}}

<body>
	{{> octicons}}

	{{> header}}

	<main id="main" class="main">
		{{> nav}}

		{{{body}}}
	</main>

	{{> footer}}
</body>

<script src="/js/main.js" type="text/javascript"></script>
</html>
