<body>
	{{> octicons}}

	{{> header}}

	<main id="main" class="main">
		{{> nav}}

		<h3>{{page.title}}</h3>
		{{{page.content}}}

	</main>

	{{> footer}}
</body>

<script src="/js/main.js" type="text/javascript"></script>
