<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %} -->
    <div class="canvas-wrapper">
      <canvas id="canvas" width="500" height="300"></canvas>
    </div>
    <form class="form" id="form">
      <fieldset>
        <h4>Points to generate:</h4>
        <div class="form-row">
          <label for="minPoints">Min Points</label>
          <input id="minPoints" type="number" value=""/>
        </div>

        <div class="form-row">
          <label for="maxPoints">Max Points</label>
          <input id="maxPoints" type="number" value=""/>
        </div>

        <div class="form-row">
          <label for="minEdgePoints">Min Edge Points</label>
          <input id="minEdgePoints" type="number" value=""/>
        </div>

        <div class="form-row">
          <label for="maxEdgePoints">Max Edge Points</label>
          <input id="maxEdgePoints" type="number" value=""/>
        </div>
      </fieldset>
      <br>
      <fieldset>
        <h4>Colors:</h4>
        <div class="form-row">
          <input type="radio" name="color" value="random" id="colorType1" checked />
          <label for="colorType2">Random</label>
        </div>
        <div class="form-row">
          <input type="radio" name="color" value="choose" id="colorType2" />
          <label for="colorType3">Choose:</label>
        </div>
        <fieldset>
          <h5>Custom colors:</h5>
          <div class="form-row">
            <label for="color1">Inner color:</label>
            <input type="color" id="color1" value="#c65ca7">
          </div>

          <div class="form-row">
            <label for="color2">Middle color:</label>
            <input type="color" id="color2" value="#5c4e93">
          </div>

          <div class="form-row">
            <label for="color3">Outer color:</label>
            <input type="color" id="color3" value="#4b72ba">
          </div>
        </fieldset>
      </fieldset>
      <br>
      <fieldset>
        <h4>Generate:</h4>
        <div class="form-row"><button id="button" type="submit">Redo!</button></div>
        <div class="form-row"><button id="generateColors">Redo Colors</button></div>
        <div class="form-row"><button id="toggleTriangles">Toggle Triangles</button></div>
        <div class="form-row"><button id="togglePoints">Toggle Points</button></div>
        <div class="form-row"><button id="toggleCircles">Toggle Circles</button></div>
        <div class="form-row"><button id="toggleCentroids">Toggle Centroids</button></div>
        <div class="form-row"><button id="toggleEdges">Toggle Edges</button></div>
      </fieldset>
    </form>
    <script src="{{ "/scripts/delaunay2.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/triangles.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
